.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: white;
    position: fixed;
  }
  .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #f6f6f6;
    gap: 20px;
    cursor: pointer;
    color: #676D76;
  }
  
  .sidebar-logo{
    text-align: center;
  }
  .logo{
    width: 100px;
  }
  @media (max-width: 1024px) {
    .sidebar p {
      display: none;
    }
    .sidebar {
      max-width: 100px;
    }
  }
  @media (max-width: 800px) {
    .sidebar {
      flex-direction: row;
      padding: 30px 0;
      max-width: none;
      height: auto;
      justify-content: center;
    }
    .sidebar-item {
      margin: 0;
    }
  }
  